In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1. oil price & realized volatility
We do the following:
1. deflate the oil price by US core CPI
1. Take logs, take differences and multiply by 100
1. Compute the daily return (first element being 0)
1. Compute the monthly realized volatility

In [2]:
# load the data
df_oil_price = pd.read_csv("database/oil_price.csv")
df_core_CPI = pd.read_csv("database/core_CPI.csv")

# unify the Date format
# - Jan 02, 1986 -> 1986-01-02
# - 01/01/1980 -> 1980-01
df_oil_price['Date'] = pd.to_datetime(df_oil_price['Date'], format='%b %d, %Y')
df_oil_price['Date'] = df_oil_price['Date'].dt.strftime('%Y-%m-%d')
df_core_CPI['Date'] = pd.to_datetime(df_core_CPI['Date'], format='%d/%m/%Y')
df_core_CPI['Date'] = df_core_CPI['Date'].dt.strftime('%Y-%m')

# drop the empty rows for oil price data
df_oil_price.dropna(inplace=True)

# on 2020-04-20, the oil price was -36.98. We substitute it to 1 for the ease of computation
df_oil_price.loc[df_oil_price['Date'] == "2020-04-20", 'oil price'] = 1

In [3]:
df_oil_price.head()

         Date  oil price
0  1986-01-02      25.56
1  1986-01-03      26.00
2  1986-01-06      26.53
3  1986-01-07      25.85
4  1986-01-08      25.87

In [4]:
df_core_CPI.head()

      Date  CPI  CPI index
0  1980-01  NaN        NaN
1  1980-02  NaN      38.58
2  1980-03  NaN      39.13
3  1980-04  NaN      39.58
4  1980-05  NaN      39.88

### Note that: 
- df_oil_price ranges from **Jan 02 1986 to Oct 30 2023**
- df_core_CPI ranges from **Jan 1980 to Aug 2023**

## 1.1. Deflate the oil price by Core CPI.

In [5]:
# Convert the 'Date' columns to datetime
df_oil_price['Date'] = pd.to_datetime(df_oil_price['Date'])
df_core_CPI['Date'] = pd.to_datetime(df_core_CPI['Date'].astype(str) + '-01')

# Filter out the oil price data for 2023-09 and 2023-10
df_oil_price = df_oil_price[df_oil_price['Date'] < '2023-09-01']

# Set the CPI of 2005-01 as the baseline
baseline_cpi = df_core_CPI[df_core_CPI['Date'] == '2005-01-01']['CPI index'].values[0]
df_core_CPI['CPI index'] = df_core_CPI['CPI index'] / baseline_cpi * 100

# Merge the CPI data with the oil price data on a month-year basis
df_oil_price['YearMonth'] = df_oil_price['Date'].dt.to_period('M')
df_core_CPI['YearMonth'] = df_core_CPI['Date'].dt.to_period('M')

# Merge the dataframes
df_merged = pd.merge(df_oil_price, df_core_CPI, on='YearMonth', how='left')

# Calculate the deflated oil price
df_merged['Deflated Oil Price'] = df_merged['oil price'] / df_merged['CPI index'] * 100

# Select only the 'Date' and 'Deflated Oil Price' columns and rename them
df_oil_price_deflated = df_merged[['Date_x', 'Deflated Oil Price']].rename(columns={'Date_x': 'Date', 'Deflated Oil Price': 'price'})

In [6]:
df_oil_price_deflated.head()

        Date      price
0 1986-01-02  45.453764
1 1986-01-03  46.236223
2 1986-01-06  47.178731
3 1986-01-07  45.969476
4 1986-01-08  46.005042

Note that the data ranges from **1986-01-02 to 2023-08-31**

## 1.2. Take logs, take differences and multiply by 100
Now, I have the new dataframe named "df_oil_price_deflated" (I used this name instead of df_final). 
I want to take logs, take differece, and multiply by 100 and add this to the new column "transformed".

In [7]:
log_prices = np.log(df_oil_price_deflated['price'])
log_price_diff = log_prices.diff()
df_oil_price_deflated['transformed'] = log_price_diff * 100

In [8]:
df_oil_price_deflated.head()

        Date      price  transformed
0 1986-01-02  45.453764          NaN
1 1986-01-03  46.236223     1.706791
2 1986-01-06  47.178731     2.017963
3 1986-01-07  45.969476    -2.596557
4 1986-01-08  46.005042     0.077340

## 1.3. Compute the daily return

Here, we use the original price rather that the transformed one.

In [9]:
df_oil_price_deflated['daily return'] = np.log(df_oil_price_deflated['price'] / df_oil_price_deflated['price'].shift(1))

In [10]:
df_oil_price_deflated.head()

        Date      price  transformed  daily return
0 1986-01-02  45.453764          NaN           NaN
1 1986-01-03  46.236223     1.706791      0.017068
2 1986-01-06  47.178731     2.017963      0.020180
3 1986-01-07  45.969476    -2.596557     -0.025966
4 1986-01-08  46.005042     0.077340      0.000773

## 1.4. Compute the monthly volatility

In [13]:
# Convert 'Date' to datetime and extract year-month
df_oil_price_deflated['Date'] = pd.to_datetime(df_oil_price_deflated['Date'])
df_oil_price_deflated['YearMonth'] = df_oil_price_deflated['Date'].dt.to_period('M')

# Group by 'YearMonth' and calculate the average daily return
monthly_avg_return = df_oil_price_deflated.groupby('YearMonth')['daily return'].mean()

# Calculate the realized volatility for each month
def calculate_realized_volatility(group):
    n = len(group)
    if n == 0:
        return np.nan
    sum_of_squares = np.sum((group - monthly_avg_return[group.name]) ** 2)
    return 100 * np.sqrt((260 / n) * sum_of_squares)

# Group by 'YearMonth' again and apply the realized volatility function
df_realized_volatility = df_oil_price_deflated.groupby('YearMonth')['daily return'].apply(calculate_realized_volatility).reset_index()

# Rename columns
df_realized_volatility.columns = ['month', 'value']

# Convert 'month' to string format
df_realized_volatility['month'] = df_realized_volatility['month'].astype(str)

In [14]:
df_realized_volatility.head()

     month       value
0  1986-01   53.757693
1  1986-02   83.782285
2  1986-03  108.745379
3  1986-04   89.877165
4  1986-05   67.618221

### Now we export the files

In [15]:
df_realized_volatility.to_csv("database/realized_volatility.csv")
df_oil_price_deflated.to_csv("database/crude_oil_price_deflated.csv")